@import "tailwindcss";
 
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
span,button,h5{
   font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
}
h1,#stay,#overview,#summer,#winter,#others,#holiday,#rate,#info,#form,#stayform,#address,#connect,#bottom{
   font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
#count,#reserve,h3,#explore,#check,#discover,#subscribe,#direction{
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}
.mobile-nav-items{
   font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;

}
h4{
    font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight:600;
  font-style: normal;
}